<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <label for="username">Enter username: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <label for="password">Enter password: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <br/>
        <p>
            <label>Roles:
                <input type="checkbox" name="authorities"
                       th:each="role : ${allRoles}"
                       th:text="${role.name}"
                       th:value="${role.id}"
                />
            </label>
        </p>
        <br/>
        <input type="submit" value="Create!"/>
    </form>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Sign Out</button>
    </form>
</body>
</html>